@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 1rem;
}

.correct {
  background: #32cd32;
  border-color: #003425;
  border-style: dashed;
  border-width: 2px;
  color: white;
}

.wrong {
  background: #ff3131;
  border-color: #660000;
  border-style: dashed;
  border-width: 2px;
  color: white;
}

.hide > div > button {
  background: grey;
  opacity: 0.05;
  border-style: solid;
  border-color: grey;
  cursor: not-allowed;
}
