name: Check Secrets availability

on:
  workflow_dispatch

jobs:
  top-secret:
    runs-on: ubuntu-latest
    permissions: {}
    env:
      MONGODB_URI: ${{ vars.MONGODB_URI }}
    steps:
    - name: Read a Variable
      run: echo "MONGODB URI is ${{ vars.MONGODB_URI }}" 
